version: '3.8'

services: 
  postgres:
      image: postgres:13.2-alpine
      restart: on-failure
      environment: 
        POSTGRES_USER: dbuser
        POSTGRES_PASSWORD: postgresql
        POSTGRES_DB: postgresql
        PGDATA: /var/lib/postgresql/data
      ports:
        - 5432:5432
      volumes: 
        - _db-data:/var/lib/postgresql/data:rw

  php:
    build:
      context: .
      dockerfile: backend/Dockerfile
      target: app_php
    image: sf-docker/php
    restart: on-failure
    environment: 
      APP_ENV: dev
      APP_DEBUG: 1
      PHP_DATE_TIMEZONE: ${PHP_DATE_TIMEZONE:-UTC}
      PHP_IDE_CONFIG: serverName=localhost
    depends_on: 
      - postgres
    volumes:
      - .:/app

  nginx:
    build:
      context: .
      dockerfile: backend/Dockerfile
      target: app_nginx
    image: sf-docker/nginx
    restart: on-failure
    ports: 
      - 8080:80
    depends_on: 
      - php
    volumes:
      - ./public:/app/public:ro

volumes:
  _db-data: