version: '3'

networks: 
  app:

services: 
  nginx:
    image: nginx:stable-alpine
    ports:
      - "8080:80"
    volumes: 
      - .:/var/www/project
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks: 
      - app
    depends_on: 
      - php
      - postgres
  
  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    networks: 
      - app
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/project
  
  postgres:
    image: postgres:13.2-alpine
    environment: 
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: postgresql
      POSTGRES_DB: postgresql
      PGDATA: /var/lib/postgresql/data
    networks:
      - app
    ports:
      - "5432:5432"
    volumes: 
      - ./postgres:/var/lib/postgresql/data:rw

  